.navbar-profile-pic img{
    border-radius: 90px;
    height: 110px;
    width: 110px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-item{
    color: white;
    margin-top: 30px;
    margin-left: 25px; 
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}

.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    color: #f29f67;
}

.nav-link .active{
   color: #f29f67;
   border-left: #f29f67;
   padding-left: 0px;
   text-decoration: none; 
   margin: 0px;
}